.breadcrum-style {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
}
.breadcrum-span {
    color: blue;
}

@media (max-width:712px) {
    .breadcrum-style {
        font-size: 12px;
    }
}
@media (max-width:549px) {
    .breadcrum-style {
        font-size: 10px;
    }
}
@media (max-width:474px) {
    .breadcrum-style {
        font-size: 8px;
    }
}