.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.cart-previous {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.cart-previous::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: 0.5s;
}
.cart-previous:hover {
    color: var(--text-color);
}
.cart-previous:hover::before {
    width: 100%;
}
.cart-logo {
    width: 250px;
    text-align: right;
    font-size: 25px;
    font-weight: 600;
}

@media (max-width : 753px) {
    .cart-previous {
        font-size: 12px;
        width: 200px;
        height: 40px;
    }
}

@media (max-width:531px) {
    .cart-previous {
        font-size: 10px;
        width: 150px;
        height: 30px;
    }
    .cart-logo {
        font-size: 12px;
        text-align: left;
        margin-left: 50px;
    }
    .cart-logo img {
        position: absolute;
        top: 10px
    }
}