.cart-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    min-height: 650px;
    overflow: hidden;
    background-color: var(--bg-color-light);
}
.cart-head {
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 1000px;
    margin-top: -100px;
}
.cart-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-start p {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 15px;
    margin-bottom: 15px;
}
.start-shopping {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    background-color: var(--text-color);
    color: white;
    border: 1px solid var(--text-color);
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.start-shopping::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: white;
    z-index: -1;
    transition: 0.7s;
}
.start-shopping:hover {
    color: var(--text-color);
    text-shadow: 1px 1px 5px var(--text-color);
    box-shadow: 1px 1px 5px var(--text-color);
}
.start-shopping:hover::before {
    width: 100%;
}

.cart-items {
    margin: 50px 0;
}

@media (max-width:746px) {
    .cart-head {
        text-align: center;
        margin: 0;
    }
}