:root {
  --text-color: rgba(17, 82, 106);
  --text-color1: rgba(17, 82, 106);
  --onfocus-color: rgba(17, 82, 106, 1);
  --border-color: rgba(17, 82, 106, 0.50);
  --bg-color: rgb(148, 203, 222);
  --linear-gradient: linear-gradient(to bottom,rgba(17,82,106,1), rgba(0,212,255,1));
  --bg-color-light: rgb(192, 231, 243);
  --save-icon: rgb(63, 150, 216);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgb(194, 187, 187);
  overflow: hidden;
  color: rgb(17, 82, 106);
}

header img {
  height: 70px;
  width: 80px;
  cursor: pointer;
  position: absolute;
  left: 60px;
  top: 0;
  animation: SlideLeft 1s ease forwards;
  animation-delay: calc(2s* var(--i)) ;  
}

header nav {
  display: flex;
  margin-right: 20px;
  width: 95%;
  justify-content: space-evenly;
  position: absolute;
  top: 30px;
  right: -50px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 90%;
  font-size: 16px;
  font-weight: 600;
}
header nav ul li {
  animation: SlideLeft 1s ease forwards;
  animation-delay: calc(1s * var(--i));
  position: relative;
  opacity: 0;
  transition: 0.5s;
}

header nav ul li:hover {
  transform: translateY(-5px) !important;
  font-size: 17px;
}
#menu-icon {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 20px;
  display: none;
}

@keyframes SlideLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width : 1200px) {
  header img {
    height: 50px;
    width: 60px;
    cursor: pointer;
    position: absolute;
    left: 60px;
    top: 15px; 
  }
  header nav {
    display: flex;
    margin-right: 20px;
    width: 95%;
  }
  header nav ul {
    font-size: 12px;
    font-weight: 600;
  }
  header nav ul li:hover {
    transform: translateY(-2.5px) !important;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  header img {
    height: 40px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    left: 60px;
    top: 15px; 
  }
  header nav {
    display: flex;
    margin-right: 20px;
    width: 95%;
  }
  header nav ul {
    font-size: 10px;
    font-weight: 600;
  }
  header nav ul li:hover {
    transform: translateY(-2.5px) !important;
    font-size: 8px;
  }
}
@media (max-width: 774px) {
  header {
    height: 60px;
  }
  header nav ul{
    font-size: 8px;
  }
  header img {
    height: 40px;
    width: 50px;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 15px; 
  }
}
@media (max-width : 625px){
  header {
    overflow: hidden;
    z-index: 100;
    display: block;
  }
  #menu-icon {
    display: block;
  }
}