.image-slider {
    display: grid;
    width: 70%;
    justify-content: center;
    grid-template-columns: 8fr 2fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.two-imgs img{
    height: 150px;
    width: 255px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(185, 182, 182);
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 80%;
    margin: 20px;
}

.image-cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image-cat {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    font-weight: 600px;
    color: var(--text-color);
    cursor: pointer;
    margin: 5px;
}
.image-cat p {
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.image-cat img {
    height: 110px;
    width: 110px;
}